:root {
  --color-background: #36CFE1;
  /* --color-primary-lighter: #9871F5; */
  --color-primary-light: #793380;

  --color-primary: #6A2C70;
  --color-primary-dark: #612866;

  /* --color-primary-darker: #6842C2; */
  --color-secundary-light: #faee6c;
  --color-secundary: #F9ED69;
  --color-secundary-dark: #faeb4b;

  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #d4c2ff;
  --color-text-title: #373435;
  --color-text-complement: #9c98a6;
  --color-text-base: #6a6180;
  --color-line-in-white: #e6e6f0;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-base: #ffffff;
  --color-box-footer: #fafafc;

  font-size: 60%;

  --font--logo: VT323;
  --font--title: Poppins;
  --font--text: Archivo;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-text-base)
}

body {
   background: #f0f0f7; 
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:-webkit-any-link{
  font-style: none;
  color: var(--color-background);
  text-decoration: none;
  

}

/* define font */

body,
input,
button,
textarea {
  font: 500 1.6rem var(--font--text);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}

